*, *::before, *::after {
  box-sizing: border-box;
}
/* Body disign */

body {
  margin: 0;
  background-color:  #ff0303 ;
}

/* Giving disign to Calculator using grid */

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

/* Disign and color  to buttons  */

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

/* Hover and focus effects  */

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

/* Width of 2 to the equal and AC buttons */

.span-two {
  grid-column: span 2;
}

/* Design to the Output section  */

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

/*  Design to the output or result */

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

/* Design to the current type */

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
